.grid_element {
  background: rgba(0,0,0,0.1);
  border: 1px white solid;
}

#top_bar{
  overflow: hidden;
  border: 1px solid black;
  margin-bottom: 10px;
}

#top_bar a{
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#top_bar a:hover {
  background-color: grey;
}


#create_account_window {
  position: absolute;
  display: none;
  right: 0px;
  z-index: 2;
  background-color: white;
  width: 500px;
  height: 350px;
}